/**
 * #.# Origami Icons
 */

@font-face {
	font-family: 'origami-icons';
	src: url('css/icons/origami-icons.eot?9l1bs6');
	src: url('css/icons/origami-icons.eot?#iefix9l1bs6') format("embedded-opentype"), url('css/icons/origami-icons.woff?9l1bs6') format("woff"), url('css/icons/origami-icons.ttf?9l1bs6') format("truetype"), url('css/icons/origami-icons.svg?9l1bs6#icomoon') format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="origami-icon-"], [class*=" origami-icon-"],
#menu .mobilenav-main-link .mobile-nav-icon {
	font-family: 'origami-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.origami-icon-mag:before {
	content: "\e600";
}

.origami-icon-menu:before {
	content: "\e601";
}

.origami-icon-more:before {
	content: "\e602";
}

.origami-icon-tag:before {
	content: "\e603";
}