/**
 * #.# Page
 */

/* This is the main page frame */

#page-container {
	width: 100%;
	background: #fdfdfd;
	padding: 2.25% 4.5%;
	margin: 30px 0 35px 0;
	box-sizing: border-box;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), inset 0 0 2px rgba(0, 0, 0, 0.1125);
	border: 1px solid #cbc9c7;
}