/**
 * #.# Main Menu
 */

#menu {
	ul {
		display: block;
		padding: 0px;
		text-align: center;
		margin-bottom: 25px;
		border: 1px solid #EEEEEE;
		border-width: 1px 0;
		background: #F9F9F9;
		li {
			display: inline-block;
			padding: 22px 25px;
			position: relative;
			a {
				text-decoration: none;
				font-size: 1em;
				color: #505050;
			}
			ul {
				visibility: hidden;
				display: block;
				position: absolute;
				background: #F5F5F5;
				z-index: 99999;
				top: 100%;
				left: 50%;
				width: 160px;
				margin-left: -80px;
				border-top: 1px solid #E4E4E4;
				background-color: #F4F4F4;
				border-color: #DDDDDD;
				box-sizing: border-box;
			}
			li ul {
				margin-left: 0;
				top: 0;
				left: 160px;
			}
			ul li a {
				display: block;
				color: #606060;
				font-size: 0.9em;
			}
		}
		ul li {
			width: 160px;
			text-align: center;
			padding: 10px 0;
		}
		li:hover > ul {
			visibility: visible;
			display: block;
		}
	}
	.mobilenav-main-link {
		font-weight: 500;
		font-size: 14px;
		.mobile-nav-icon {
			font-family: origami-icons;
			color: #666666;
			font-size: 15px;
			display: block;
			float: left;
			width: 13px;
			height: 15px;
			margin: -1px 8px 0 0;
			&:before {
				content: "\e601";
			}
		}
	}
}
