[submodule "inc/settings"]
	path = inc/settings
	url = git@github.com:siteorigin/settings.git
[submodule "build"]
	path = build
	url = git@github.com:siteorigin/theme-build.git
[submodule "inc/installer"]
	path = inc/installer
	url = https://github.com/siteorigin/siteorigin-installer/
