.share-buttons{
    float: right;
    padding-top: 4px;
    margin-right: -12px;
}

.below-content.tagged .share-buttons {
    margin-top: -2px;
}

.share-buttons .network{
    display: inline-block;
}